fastapi==0.104.1
uvicorn==0.23.2
python-multipart==0.0.6
pillow==10.0.1
numpy==1.26
torch==2.7.0
torchvision==0.22.0
timm==0.9.2
matplotlib==3.7.2
opencv-python==4.8.0.76
requests>=2.28.0
tqdm>=4.64.0